BasedOnStyle: LLVM
UseTab: Never
IndentWidth: 4
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
IndentCaseLabels: true
ColumnLimit: 120
PointerAlignment: Left
AccessModifierOffset: -4

TabWidth: 4
